*{
    /* resetea estilos por defecto del navegador */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:
}
/* declara variables para reutilizar colores */
:root{  /* es una pseudoclase por eso los dos puntos */
    --color_texto: cornflowerblue;
    --color_elementos_fieldset: #581845 ;
    --color_button: rgb(77, 253, 195);
    --color_hover: rgb(252, 153, 250);
}
/* sintaxis para establecer variables con fuentes y unidades de medida */
/* :root {
    --primario: #ff7828;
    --secundario: #F7B787;
    --claro: #F9E8D9 ;
    --oscuro: #527853;
    --fuentePrincipal: "Lora", serif;
    --fuenteSecundaria: "Ubuntu", sans-serif;
    --pane-padding: 5px 42px;
} */
header{
    display: flex; /* visualisación del contenedor flexible */
    justify-content: space-between; /* distribuye uniformemente los elementos a lo largo del contenedor */
    padding: 10px;
}
nav>ul{/* seleccionar el elemento nav madre y su hija lista */
    list-style-type: none;
    display: flex;
}
.elementos-navegacion{
    margin: 20px 50px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em; /* unidad relativa */
    /* font-weight: peso de la fuente; */
}
.elementos-navegacion a{
    text-decoration: none; /* elimina el subrayado del elemento a */
    color: var(--color_texto);
}
.elementos-navegacion a:hover{ /* Uso de pseudoclase en los enlaces de la navegación */
    color: var(--color_hover);
    text-decoration: double;
}
h1{
    color: var(--color_button);
    text-align: center;
}
form{
    width: 70%; /* ancho de un elemento */
    max-width: 880px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
}
fieldset{
    border-color: khaki;
    border-radius: 1.2em;
    color: var(--color_elementos_fieldset);
    margin: 20px;
}
legend{
    text-align: left;
}
legend::first-letter{ /* seudoelemento */
    color: aquamarine;
}
#datos-pedido,
#datos-envio{
    padding: 30px 50px;
}
/* muestra etiquetas como elementos de bloque y asi no utilizamos br en html*/
/* los label se comportan en bloque ya que son elementos en lines y van uno tras otro, por eso poniamos br para un salto de linea entre label y label*/
#datos-contacto label{
    display: block;
}
#datos-contacto input,
#datos-pedido input,
#datos-envio input{
    border: 3px solid rgb(142, 37, 207);  /* o puede ser una vardel root */
    width: 200px;
}
/* estilos a campos de entrada (inputs) cuando esten en foco*/
/* focus pseudoclase se activa con una acción sobre el elemento */
input[type="text"]:focus{ 
    box-shadow: 10px 3px var(--color_button); /* sombra */
    background-color: var(--color_button); /* fondo */
}
#datos-pedido select[name="sucursal-select"]{ /* selecciona los atributos [] */
    width: 200px;
    border: 2px solid var(--color_elementos_fieldset);
}
button[type="submit"]{
    color: var(--color_button);
    background-color: rgb(177, 128, 222);
    float: right;

}
button:active{
    transform: scale(0.90);
}